*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Cascadia Code';
  transition: 0.5s ease;
}

html, body{
  height: 100%;
}

#root{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}