.block{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.square{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    flex-direction: column;
}
.horiz{
    display: flex;
    align-items: center;
    gap: 10px;
}